.login-top {
  .btn-mo-login {
    display: block;
    margin-bottom: 16px;
    border: 2px solid #8951ff;
    background: #fff;
    color: #8951ff;
    height: 58px;
    line-height: 56px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    z-index: 10;
    text-align: center;
  }
}
.pass-info {
  .ls-mo-login {
    font-size: 18px;
  }
}
body.sub.type_find_id {
  background-color: #fff;
  header {
    border-color: transparent;
  }
}

.wrap_find_id {
  padding: 60px 16px 26px;
  text-align: center;
  .banner_find_id {
    display: inline-block;
    width: 104px;
    height: 104px;
    background-image: url(../images/banner_find_id.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 36px;
  }
  .tit_find_id {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    line-height: 34px;
  }
  .subtit_find_id {
    font-size: 16px;
    color: #666;
    line-height: 34px;
  }
}
.list_user_id {
  margin-top: 8px;
  label {
    display: inline-block;
    width: 100%;
    & + label {
      margin-top: 12px;
    }
    input {
      display: none;
      &:checked {
        & + .box_user_id {
          background-color: #e8f1fa;
          border-color: #e8f1fa;
          .fake_radio {
            background-image: url(../images/cbx_blue.png);
            background-repeat: no-repeat;
            background-size: 10px;
            background-position: center;
          }
        }
      }
    }
    .box_user_id {
      height: 42px;
      line-height: 40px;
      border-radius: 8px;
      border: 1px solid #707070;
      transition-duration: 0.2s;
      position: relative;
      .fake_radio,
      .user_id {
        display: inline-block;
        vertical-align: middle;
      }
      .fake_radio {
        width: 24px;
        height: 24px;
        border: 1px solid #178bce;
        border-radius: 2px;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translate(0, -50%);
      }
      .user_id {
        color: #008ff3;
        font-weight: 600;
        &::before {
          display: inline-block;
          color: #000;
          content: "[";
        }
        &::after {
          display: inline-block;
          color: #000;
          content: "]";
        }
      }
    }
  }
}

.set_auto_login {
  display: inline-block;
  padding-left: 24px;
  position: relative;
  text-align: left;
  margin-top: 32px;
  input {
    display: none;
  }
  input:checked + .fake_cbx {
    background-color: #0c3996;
    background-image: url("https://dev.adtcapshome.co.kr:8443/static/home2/images/chkbox_on_icon.png");
  }
  .fake_cbx {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #0c330c;
    position: absolute;
    left: 0;
    top: 0;
  }
  .tit_auto_login {
    color: #000;
    font-size: 17px;
    font-weight: 600;
  }
  .desc_auto_login {
    color: #666;
    font-size: 15px;
    margin-top: 8px;
    line-height: 1.4;
  }
}

.btns_wrap {
  margin-top: 26px;
  display: flex;
  button {
    flex: auto;
    width: 50%;
    height: 40px;
    border: 1px solid #b7b7b7;
    font-size: 15px;
    color: #727272;
    background-color: #fff;
    border-radius: 4px;
    & + button {
      margin-left: 8px;
    }
    &.on {
      border-color: #2448a8;
      background-color: #2448a8;
      color: #fff;
    }
  }
}

.alert_mask {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  .alert_box {
    width: 100%;
    padding: 32px 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    .desc_alert_msg {
      font-size: 18px;
      font-weight: 600;
      color: #030303;
      line-height: 1.4;
    }
    .btn_close_alert {
      padding: 0 48px;
      height: 40px;
      border: 1px solid #2448a8;
      font-size: 15px;
      color: #fff;
      background-color: #2448a8;
      margin-top: 20px;
      border-radius: 4px;
    }
  }
}

.search_user_id {
  margin-top: 16px;
  padding: 0 24px;
  input[type="text"] {
    border: 1px solid #707070;
    background-color: #fff;
    border-radius: 0;
    font-size: 16px;
  }
  .btns_wrap {
    margin-top: 20px;
    button {
      flex: unset;
      margin: 0 auto;
      width: 132px;
    }
  }
}

.hei_100_per {
  height: 100%;
}

.find_id_result_scrolled {
  height: calc(100% - 165px);
  overflow: auto;
}

.find_id_result_fixed {
  height: 165px;
}
